<div class="row">
</div>
<div class="filters row">
	<div class="col text-center align-self-center mb-3">
		<select id="price" style="width: 9rem">
			<option value="">--Select Price--</option>
		</select>
	</div>
	<div class="col text-center align-self-center mb-3">
		<select id="brand" style="width: 9rem">
			<option value="">--Select Brand--</option>
		</select>
	</div>
	<div class="col text-center align-self-center mb-3">
		<select id="sortBy" style="width: 9rem">
			<option value="POPULAR">Popular Items</option>
		</select>
	</div>
	<div class="col text-center align-self-center mb-3" id="resetFiltersWrapper" style="display:none">
		<button class="btn btn-sm btn-dark" id="resetFilters">Reset Filters</button>
	</div>
</div>
<div class="row products"></div>