<div class="col-lg-4 col-md-6 col-sm-12 mb-3">
	<div class="card border-dark">
		<h5 class="card-header bg-dark text-white text-center text-truncate"><%-data.name%></h5>
		<div class="card-body text-center">
			<img class="" src="<%-data.image%>" alt="<%-data.name%>">
			<h5 class="card-subtitle text-center text-truncate mt-3"><%-data.brand%></h5>
		</div>
		<div class="card-footer bg-transparent border-0 pt-0">
			<div class="row">
				<div class="col-4 pr-0 align-content-start align-self-center">
					<span class="align-content-center">Rs. <%-data.current_price%></span>
				</div>
				<div class="col-4 p-0 align-content-start align-self-center">
					<span class="align-content-center"><%-data.discount%>% discount</span>
				</div>
				<div class="col-4 pl-0">
					<a href="javascript:void(0);" class="btn btn-success align-self-end add-to-cart" data-id="<%-data.id%>">Add to Cart</a>
				</div>
			</div>
		</div>
	</div>
</div>